:root {
  --myblue: #033373;
  --mylight: #16aaca;
  --black: black;
  --white: white;
  --green: #09c290;
  --padding: 10px;
  --margin: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.homepage {
  display: grid;
  background-color: var(--white);
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: repeat(auto, 1fr); */
}

.hero-section {
  grid-column: 1/13;
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-weight: bolder;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--myblue); /*Semi-transparent blue */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.5;
}

.hero-section h3 {
  margin: 0;
  font-size: 2.5rem;
}

.hero-section p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.hero-section img {
  width: 100%;
  height: inherit;
}

.about_parent {
  grid-column: 1/13;
  /* background-color: #09c290; */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 40px;
  height: 600px;
  margin-top: 50px;
}


.right {
  grid-column: 6/10;
  background-color: var(--white);
  height: fit-content;
  padding: 20px;
  color: var(--mylight);
}

.abouth1 {
  color: var(--myblue);
}

.right_group {
  /* background-color: var(--myblue); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  width: fit-content;
}

.right_group div h6 {
  display: inline-block;
  color: var(--myblue);
}

.right_button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--myblue);
  color: var(--white);
  font-size: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.right_button:hover {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  box-shadow: 1px 1px 20px 0px var(--myblue);
  background-color: var(--mylight);
  color: var(--white);
}

.left {
  grid-column: 2/6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.big_img {
  background-image: url(../photos/c94d2a94760946b1d50a3cbeba5c348a.jpg);
  background-size: cover;
  grid-area: 1/2/8/5;
  border-radius: 8px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.med_img{
position: absolute;
background-image: url(../photos/med\ img.jpg);
border: 20px solid var(--white);
background-size: cover;
width: 320px;
height: 400px;
left: -150px;
bottom: 30px;
}

.small_div{
  position: absolute;
  background-color: var(--myblue);
  opacity: 0.8;
  width: 140px;
  height: 160px;
  border-radius:8px ;
  -webkit-border-radius:8px ;
  -moz-border-radius:8px ;
  -ms-border-radius:8px ;
  -o-border-radius:8px ;
  top: 50px;
  left: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  animation: bottomUp 2s ease-in-out forwards;
  -webkit-animation: bottomUp 2s ease-in-out forwards;
}

@keyframes bottomUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.about_container_about{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#about {
  font-size: 30px;
  animation: bot.5s ease-in-out forwards;
  height: 45px;
}

@keyframes bot {
  10% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.plus {
  font-size: 40px;
  color: var(--mylight);

}

.small_div p {
font-size: 13px;
}