:root {
  --myblue: #033373;
  --mylight: #16aaca;
  --black: black;
  --white: white;
  --green: #09c290;
  --padding: 10px;
  --margin: 10px;
  --bottom_up: bottomUp 2s ease-in-out forwards;
  --left_right: left_right 2s ease-in-out forwards;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.serv_parent {
  grid-column: 1/13;
  /* background-color: #09c290; */
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto auto 1fr;
  column-gap: 40px;
  height: fit-content;
  margin-top: 50px;
}

.serv_parent > h3 {
  grid-area: 1/2/2/4;
  color: var(--mylight);
  animation: var(--left_right);
  -webkit-animation: var(--left_right);
}

@keyframes left_right {
  100% {
    transform: translatex(0%);
    -webkit-transform: translatex(0%);
    -moz-transform: translatex(0%);
    -ms-transform: translatex(0%);
    -o-transform: translatex(0%);
  }
  0% {
    transform: translatex(100%);
    -webkit-transform: translatex(100%);
    -moz-transform: translatex(100%);
    -ms-transform: translatex(100%);
    -o-transform: translatex(100%);
  }
}

.serv_top_parent {
  grid-area: 2/2/3/10;
  color: var(--myblue);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.serv_top_parent h1 {
  grid-column: 1/2;
}

.serv_top_parent p {
  grid-column: 2/4;
}

.serv_cont {
  grid-area: 3/2/4/9;
  /*background-color: var(--mylight);
  */
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  column-gap: 20px;
  justify-content: space-between;
  height: fit-content;
  margin-top: 25px;
  animation: var(--bottom_up);
  -webkit-animation: var(--bottom_up);
}

@keyframes bottomUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.serv_cont1,
.serv_cont2,
.serv_cont3 {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  width: 400px;
  height: 600px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: flex-end;
  padding: 10px;
  box-shadow: 0px 0px 20px -10px var(--myblue);
}
.serv_cont1 {
  grid-column: 1/2;
  background-image: url(../photos/5276fd2279bb9fac3964c155fec2e82b.jpg);
}

.serv_cont2 {
  grid-column: 2/3;
  background-image: url(../photos/e7069215bd574962546add6a3224842d.jpg);
}

.serv_cont3 {
  grid-column: 3/4;
  background-image: url(../photos/repair.jpg);
}

.small_cont1,
.small_cont2,
.small_cont3 {
  grid-row: 3/4;
  background-color: var(--white);
  width: fit-content;
  padding: 30px;
  width: 380px;
  height: fit-content;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(3, auto);
  column-gap: 10px;
}

.serv_cont i {
  color: var(--myblue);
  font-size: 30px;
  grid-area: 1/1/2/2;
}

.serv_cont h3 {
  color: var(--myblue);
  grid-area: 1/2/2/3;
}

.serv_cont p {
  color: var(--myblue);
  grid-area: 2/2/3/3;
}

.serv_cont button {
  grid-area: 3/2/4/3;
  border: none;
  background-color: var(--mylight);
  color: var(--white);
  border: none;
  padding: 5px;
  width: fit-content;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.serv_cont button:hover {
  background-color: var(--myblue);
  color: var(--white);
  box-shadow: 1px 1px 20px 0px var(--myblue);
}
